*.iml
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
*.swo
*.log
*.log.*
*.json.gzip
*.code-workspace
node_modules/
.buildpath
.settings
npm-debug.log
nohup.out
_site
_data
dist
/lib
/es
elasticsearch-*
config/base.yaml
/.vscode/
/coverage
yarn.lock
package-lock.json
components/**/*.js
components/*.jsx
components/affix/**/*.jsx
components/alert/**/*.jsx
components/anchor/**/*.jsx
components/auto-complete/**/*.jsx
components/avatar/**/*.jsx
components/back-top/**/*.jsx
components/badge/**/*.jsx
components/breadcrumb/**/*.jsx
components/button/**/*.jsx
components/calendar/**/*.jsx
components/card/**/*.jsx
components/carousel/**/*.jsx
components/cascader/**/*.jsx
components/checkbox/**/*.jsx
components/col/**/*.jsx
components/collapse/**/*.jsx
components/date-picker/**/*.jsx
components/divider/**/*.jsx
components/drawer/**/*.jsx
components/dropdown/**/*.jsx
components/form/**/*.jsx
components/grid/**/*.jsx
components/icon/**/*.jsx
components/input/**/*.jsx
components/input-number/**/*.jsx
components/layout/**/*.jsx
components/list/**/*.jsx
components/locale-provider/**/*.jsx
components/mention/**/*.jsx
components/menu/**/*.jsx
components/message/**/*.jsx
components/modal/**/*.jsx
components/notice-icon/**/*.jsx
components/notification/**/*.jsx
components/pagination/**/*.jsx
components/popconfirm/**/*.jsx
components/popover/**/*.jsx
components/progress/**/*.jsx
components/radio/**/*.jsx
components/rate/**/*.jsx
components/row/**/*.jsx
components/select/**/*.jsx
components/skeleton/**/*.jsx
components/slider/**/*.jsx
components/spin/**/*.jsx
components/steps/**/*.jsx
components/style/**/*.jsx
components/switch/**/*.jsx
components/table/**/*.jsx
components/tabs/**/*.jsx
components/tag/**/*.jsx
components/timeline/**/*.jsx
components/time-picker/**/*.jsx
components/tooltip/**/*.jsx
components/transfer/**/*.jsx
components/tree/**/*.jsx
components/tree-select/**/*.jsx
components/upload/**/*.jsx
components/version/**/*.jsx
components/_util/**/*.jsx
!components/**/__tests__/*.js
!components/**/__tests__/*.js.snap
/.history

# Docs templates
site/theme/template/IconDisplay/*.js
site/theme/template/IconDisplay/*.jsx
site/theme/template/IconDisplay/fields.js
