@import "../style/themes/default";

.cube-noticIcon-popover {
  width: 336px;
  :global(.ant-popover-inner-content) {
    padding: 0;
  }
}

.cube-noticIcon-noticeButton {
  cursor: pointer;
  display: inline-block;
  transition: all 0.3s;
}

.cube-noticIcon-icon {
  padding: 4px;
}

.cube-noticIcon-tabs {
  :global {
    .ant-tabs-nav-scroll {
      text-align: center;
    }
    .ant-tabs-bar {
      margin-bottom: 4px;
    }
  }
}
